body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #444;
  background-color: #fff;
}

h1 {
  display: block;
  margin: 40px 10px;
  font-weight: normal;
}

.wish-group {
  margin: 10px;
}

.form-group {
  margin: 10px;
}

.form-input {
  height: 30px;
  border: 2px solid black;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  color: #444;
  font-size: 16px;
}

.form-input:focus {
  border-radius: 0%;
}

.wish-group {
  margin-bottom: 30px;
}

.wish-group .form-input {
  width: 90%;
  border: 1px solid #ccc;
}

.page-detail {
  margin: 10px;
}

.footer {
  margin-left: 50%;
}

.banner {
  margin: inherit;
  font-size: 20px;
  font-weight: bold;
}

.header-top {
  background-color: #f2f2f2;
  height: 40px;
}

.header {
  margin: 10px;
  border-bottom: 1px solid #ccc;
}

.password-reset {
  font-size: 14px;
}

.nav {
  flex-wrap: wrap;
  display: flex;
}

.nav-element-item {
  list-style: none;
  text-align: inline;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-link {
  display: inline-block;
  padding: 20px 0px 15px 0px;
  text-decoration: none;
  color: #555;
}

.nav-link:hover {
  text-decoration-line: underline;
}

.progress-icon-container {
  padding: 0 10px;
  display: flex;
  justify-content: center
}

.progress-icon {
  margin: auto 0;
  border: 1px solid #333;
}

.progress-not-started {
  background-color: red;
}
.progress-in-progress {
  background-color: yellow;
}
.progress-completed {
  background-color: green;
}

.card-header {
  font-size: 22px;
  font-weight: bold;
  display: inline-flex;
}

.status-data {
  display: inline-grid;
  width: 30%;
}

.user-status-data {
  list-style: none;
  border: 2px solid #000;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 8px 8px 2px 1px #ccc;
}

.btn-container {
  padding: 10px 20px;
}

.btn {
  border: 2px solid black;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  color: #444;
  font-size: 16px;

}

.btn:hover:enabled {
  background-color: #000;
  color: #fff;
}

.btn:active:enabled {
  background-color: buttonface;
  color: #444;
}

.btn:disabled {
  color: #999;
  border: 2px solid #999;
}

.login-form {
  padding: 10px;
}

.set-new-pw-form {
  padding: 10px;
}

.greeting {
  margin: 20px 30px 40px 30px;
}

.wish-content {
  margin: 20px 30px 40px 30px;
}

.wish-group {
  list-style: none;
  border: 2px solid #000;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 8px 8px 2px 1px #ccc;
  max-width: 30%;
}

@media screen and (max-width: 960px) {
 .wish-group {
   max-width: 100%;
 }
 .status-data {
   width: 100%;
 }
 .footer {
   margin: 0% 30%;
 }
}

.alert-error {
  color: red;
  font-size: 14px;
}

.alert-success {
  color: green;
  font-size: 14px;
}

.alert-info {
  color: orange;
  font-size: 14px;
  margin: 0px;
}

.comm-detail {
  font-size: 14px;
  margin: 5px;
}

.communication {
  list-style: none;
  padding: 0px 10px 10px 10px;
  margin: 0px 20px 0px 20px;
}

.active-element {
  background-color: #555;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.active-element .nav-link {
  color: #fff;
}

.nav-bar-right {
  margin: 0 0 0 auto;
}

.wish-link {
  margin-top: 10px;
  font-style: italic;
}