{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
        <div class="alert alert-error">
            {{ "".join(form.new_password.errors) }}
        </div>
        {{ form.new_password(size=32, placeholder=form.new_password2.label) }}
    </div>
    <div>
        <div class="alert alert-error">
            {{ "".join(form.new_password2.errors }}
        </div>
        {{ form.new_password2(size=32, placeholder=form.new_password2.label) }}
    </div>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}