<!doctype html>
<html>
    <head>
        <title>Moody Secret Santa</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='santa-hat.png') }}">
    </head>
    <body>
        <div>
            {% if user %}
                Moody Secret Santa - {{ user.name }}
            {% else %}
                Moody Secret Santa
            {% endif %}
        </div>
        {% if user %}
            <div>
                <a href={{ url_for("set_own_password") }} >Reset Password</a>
                <a href={{ url_for("logout") }} >Logout</a>
                {% if user.is_admin %}
                <a href={{ url_for("round_status") }}>Admin</a>
                {% endif %}
            </div>
        {% endif %}
        <hr>
        {% block content %}{% endblock %}
        <footer class="footer">
            © 2023 MoodyElfBot
        </footer>
    </body>
</html>