<!doctype html>
<html>
    <head>
        <title>Moody Secret Santa</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='santa-hat.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="header-top">&nbsp</div>
        <div class="header">
            <div class="banner">
                {% if user and user.is_authenticated %}
                    Moody Secret Santa 🎄 {{ user.name }}
                {% else %}
                    Moody Secret Santa
                {% endif %}
            </div>

            {% set active_tab_class = "active-element" %}

            <div class="nav">
            {% if user %}

                    {% if user.is_authenticated and user.n_wishes() > 0 %}
                    <li class="nav-element-item {{ active_tab_class if active_tab == 'santa' }}">
                        <a class="nav-link" href={{ url_for("santa") }} >View Wishes</a>
                    </li>
                    {% elif user.is_authenticated %}
                    <li class="nav-element-item {{ active_tab_class if active_tab == 'wishes' }}">
                        <a class="nav-link" href={{ url_for("wishes") }} >Set Wishes</a>
                    </li>
                    {% endif %}

                    {% if user.is_admin %}
                    <li class="nav-element-item {{ active_tab_class if active_tab == 'admin' }}">
                    <a class="nav-link" href={{ url_for("round_status") }}>Admin</a>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated and user.user_has_set_own_password %}
                    <li class="nav-element-item {{ active_tab_class if active_tab == 'set_own_password' }} nav-bar-right">
                        <a class="nav-link" href={{ url_for("set_own_password") }} >Reset Password</a>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-element-item {{ active_tab_class if active_tab == 'logout' }}">
                        <a class="nav-link" href={{ url_for("logout") }} >Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-element-item {{ active_tab_class if active_tab == 'login' }} nav-bar-right">
                        <a class="nav-link" href={{ url_for("login") }} >Login</a>
                    </li>
                    {% endif %}
            {% else %}
                <li class="nav-element-item {{ active_tab_class if active_tab == 'login'}} nav-bar-right">
                    <a class="nav-link" href={{ url_for("login") }} >Login</a>
                </li>
            {% endif %}
            </div>
        </div>
<!--        <hr>-->
        {% block content %}{% endblock %}
        <footer class="footer">
            © 2023 MoodyElfBot
        </footer>
    </body>
</html>