{% extends "base.html" %}

{% block content %}
<h1>Round Status</h1>

<div class="status-data">
{% for user_email, user_data in status_data.items() %}

    {% set user_has_set_own_password = user_data["user_has_set_own_password"] %}
    {% set n_wishes = user_data["n_wishes"] %}

    {% if not user_has_set_own_password %}
        {% set progress_class = 'progress-not-started' %}
    {% elif n_wishes == 0 %}
        {% set progress_class = 'progress-in-progress' %}
    {% else %}
        {% set progress_class = 'progress-completed' %}
    {% endif %}

    <li class="user-status-data">
    <div class="card-header">
        <div class="progress-icon-container">
            <div class="progress-icon {{ progress_class }}">&nbsp;</div>
        </div>
        <p>{{ user_email }}</p>
    </div>
    {% for key, value in user_data.items() %}
        <p>{{ key }}:  {{ value }}</p>
    {% endfor %}
    </li>

{% endfor %}
</div>

<div class="admin-actions">
    <h1>Admin Actions</h1>
    <div>
        <form action="/pairs" method="get" novalidate>
            {{ pairs_form.hidden_tag() }}
            {{ pairs_form.make_pairs(class="btn btn-make-pairs", disabled=pairs_set) }}
        </form>
    </div>
    <div>
        <form action="/export" method="get" novalidate>
            {{ export_form.hidden_tag() }}
            {{ export_form.export(class="btn btn-export") }}
        </form>
    </div>
</div>

<div class="communications">
    <h1>Communications</h1>
    {% for communication in communications %}
        <li class="communication">
            {% for key, value in communication.items() %}
            <p>{{ key }}:  {{ value }}</p>
            {% endfor %}
        </li>
    {% endfor %}
</div>
{% endblock %}