{% extends "base.html" %}

{% block content %}
<h1>Round Status</h1>

{% for user_email, user_data in status_data.items() %}

    {% set user_has_set_own_password = user_data["user_has_set_own_password"] %}
    {% set n_wishes = user_data["n_wishes"] %}

    {% if not user_has_set_own_password %}
        {% set css_class = 'not_started' %}
    {% elif n_wishes == 0 %}
        {% set css_class = 'in_progress' %}
    {% else %}
        {% set css_class = 'completed' %}
    {% endif %}

    <h2>User: {{ user_email }}</h2>
    <p>{{ css_class }}</p>
    {% for key, value in user_data.items() %}
        <p>{{ key }}:  {{ value }}</p>
    {% endfor %}
{% endfor %}

{% endblock %}