{% extends "base.html" %}

{% block content %}
<h1>Round Status</h1>

<div class="status-data">
{% for user_email, user_data in status_data.items() %}

    {% set user_has_set_own_password = user_data["user_has_set_own_password"] %}
    {% set n_wishes = user_data["n_wishes"] %}

    {% if not user_has_set_own_password %}
        {% set progress_class = 'progress-not-started' %}
    {% elif n_wishes == 0 %}
        {% set progress_class = 'progress-in-progress' %}
    {% else %}
        {% set progress_class = 'progress-completed' %}
    {% endif %}

    <li class="user-status-data">
    <div class="card-header">
        <div class="progress-icon-container">
            <div class="progress-icon {{ progress_class }}">&nbsp;</div>
        </div>
        <p>{{ user_email }}</p>
    </div>
    {% for key, value in user_data.items() %}
        <p>{{ key }}:  {{ value }}</p>
    {% endfor %}
    </li>

{% endfor %}
</div>

<div class="admin-actions">
    <h1>Admin Actions</h1>
    <div class="btn-container">
        <form action="/pairs" method="get" novalidate>
            {{ pairs_form.hidden_tag() }}
            {{ pairs_form.make_pairs(class="btn btn-make-pairs", disabled=pairs_set) }}
        </form>
    </div>
    <div class="btn-container">

        {% set kickoffs_sent = kickoff_sent_timestamp is not none %}
        {% if kickoffs_sent %}
            <p class="alert alert-info">Kickoff email sent at {{ kickoff_sent_timestamp }}</p>
        {% endif %}

        <form action="/kickoff" method="get" novalidate>
            {{ kickoff_form.hidden_tag() }}
            {{ kickoff_form.send_kickoff(class="btn btn-send-kickoff", disabled=kickoffs_sent) }}
        </form>
    </div>
    <div class="btn-container">
        <form action="/reminder" method="get" novalidate>
            {{ reminder_form.hidden_tag() }}
            {{ reminder_form.send_reminder(class="btn btn-send-reminder") }}
        </form>
    </div>
    <div class="btn-container">
        <form action="/export" method="get" novalidate>
            {{ export_form.hidden_tag() }}
            {{ export_form.export(class="btn btn-export") }}
        </form>
    </div>
</div>

<div class="communications">
    <h1>Communications</h1>
    {% for communication in communications %}
        <li class="communication">
            {% for key, value in communication.items() %}

            {% if key == "status" and value.value == "success" %}
                {% set detail_class = 'comm-detail alert alert-success' %}
            {% elif key == "status" and value.value == "error" %}
                {% set detail_class = 'comm-detail alert alert-error' %}
            {% else %}
                {% set detail_class = 'comm-detail' %}
            {% endif %}

            <p class="{{ detail_class }}">{{ key }}:  {{ value }}</p>
            {% endfor %}
        </li>
    {% endfor %}
</div>
{% endblock %}