{% extends "base.html" %}

{% block content %}

    {% set recipient = current_user.recipient %}

    <div class="greeting">
        Hi, {{ current_user.name }}!  You have been paired with <strong>{{ recipient.name }}</strong>.
    </div>

    {% if recipient.wishes %}
    <div class="wish-content wish-content-recipient">
        Here are the wishes they submitted:
        {% for wish in recipient.wishes %}
        <div class="wish-group">
            <div class="wish">
                <div class="wish wish-description">
                    {{ wish.description }}
                </div>
                {% if wish.link %}
                <div class="wish wish-link">
                    ({{ wish.link }})
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="wish-content wish-content-recipient null-content">
        They have not submitted their wishes yet!  Don't forget to check back here for when they do...
    </div>
    {% endif %}

    <div class="wish-content wish-content-user">
        Here are the things you wished for:
        {% for wish in current_user.wishes %}
            <li class="wish-group">
                <div class="wish">
                    <div class="wish wish-description">
                        {{ wish.description }}
                    </div>
                    {% if wish.link %}
                    <div class="wish wish-link">
                        ({{ wish.link }})
                    </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </div>


{% endblock %}