{% extends "base.html" %}

{% block content %}
<h1>Set New Password</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.previous_password.label }}<br>
        {{ form.previous_password(size=32) }}
    </p>
    <p>
        {{ form.new_password.label }}<br>
        {{ form.new_password(size=32) }}
    </p>
    <p>
        {{ form.new_password2.label }}<br>
        {{ form.new_password2(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}