{% extends "base.html" %}

{% block content %}
<h1>Set New Password</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
        <div class="alert alert-error">
            {{ "".join(form.previous_password.errors) }}
        </div>
        {{ form.previous_password(size=32, placeholder=form.previous_password.label.text, class="form-input") }}
    </div>
    <div class="form-group">
        <div class="alert alert-error">
            {{ "".join(form.new_password.errors) }}
        </div>
        {{ form.new_password(size=32, placeholder=form.new_password.label.text, class="form-input") }}
    </div>
    <div class="form-group">
        <div class="alert alert-error">
            {{ "".join(form.new_password2.errors) }}
        </div>
        {{ form.new_password2(size=32, placeholder=form.new_password2.label.text, class="form-input") }}
    </div>
    <div class="form-group">{{ form.submit(class="btn") }}</div>
    <div>
        Don't remember your password?  <a href={{ url_for("account_recovery_request") }}>Click here</a> to request an email link to reset it.
    </div>
</form>
{% endblock %}